.titulo-pagina{
	clear: both;
}

ul {

	list-style-type: none;
	margin: 0;
	padding: 0;
}



ul#navegacao-lateral a{
	width: 200px;
	height: 40px;
	display: block;
	text-decoration: none;
	text-indent: 50px;
	line-height: 40px;
	background: #FE9A2E url(../imagens/menu.png) no-repeat left bottom;
}

#navegacao-lateral a:hover {
	background-position:  right bottom;
	background-color: #f99200;
	color: #ffff;
}

#home #navegacao-lateral .home a,
#sobre #navegacao-lateral .sobre a,
#servicos #navegacao-lateral .servicos a{

	background-position: right bottom;
	background-color:#f99200;
	color: #ffff;
}

#navegacao-horizontal a:hover {
	background-position:  right bottom;	
	color: #ffff;
}

ul#navegacao-horizontal li{
	float: left;	
}
ul#navegacao-horizontal a{
	display: block;
	padding: 0 2em;
	line-height: 2em;
	text-decoration: none;
	background: url(../imagens/divisor.png) repeat-y;

}
ul#navegacao-horizontal {


	background:#089FB4 url(../imagens/fundo-horizontal.png) repeat-x;
	float: left;
	
}

#home #navegacao-horizontal .home a,
#sobre #navegacao-horizontal .sobre a,
#servicos #navegacao-horizontal .servicos a{

	background-position: right bottom;
	background-color:#0B0B61;
	color: #ffff;
}
