ul {

	list-style-type: none;
	margin: 0;
	padding: 0;
}



ul a{
	width: 200px;
	height: 40px;
	display: block;
	text-decoration: none;
	text-indent: 50px;
	line-height: 40px;
	background: #FE9A2E url(../imagens/menu.png) no-repeat left bottom;
}

a:hover {
	background-position:  right bottom;
	background-color: #f99200;
	color: #ffff;
}

#home #navegacao-lateral .home a,
#sobre #navegacao-lateral .sobre a,
#servicos #navegacao-lateral .servicos a{

	background-position: right bottom;
	background-color:#f99200;
	color: #ffff;
}